{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="app">
        <form action="/numbers" method="post" @submit="check">
            <div id="inputs">
                <div class="inputs__one" v-for="input in inputCount" :key="input">
                    <label for="`num-${input}`">Nr. [{ input + 1 }]</label>
                    <input class="number" type="number" name="numbers[]" :id="`num-${input}`" min="1" max="99999">
                    <button type="button" @click="add" v-if="inputCount.length < 10 && input === inputCount.length - 1">+</button>
                </div>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const app = new Vue({
            el: '#app',
            delimiters: ['[{', '}]'],
            data: {
                inputCount: [0],
            },
            methods: {
                check(event) {
                    const inputs = [...document.querySelectorAll('input')];
                    const test = inputs.find(el => {
                        return el.value === '';
                    });

                    if (test !== undefined) {
                        alert("All inputs must contain a value");
                        event.preventDefault();
                    } else {
                        return 0;
                    }
                },
                add() {
                    if (this.inputCount.length < 10) {
                        const prev = document.querySelector(`#num-${this.inputCount[this.inputCount.length - 1]}`);

                        if (prev.value === '') {
                            alert('First you have to add previous number!');
                            return;
                        }

                        this.inputCount.push(this.inputCount[this.inputCount.length - 1] + 1);
                    }
                }
            }
        });
    </script>
{% endblock %}
