{% extends 'base.html.twig' %}

{% block body %}
    <ul class="result">
        {% for v in var %}
            <li> For: {{ v["n"] }} max value is: {{ v["res"] }}</li>
        {% endfor %}
    </ul>
{% endblock %}