*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    margin: 50px 0;
    width: 300px;
    font-size: 2em;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;

    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px 0 0 5px;
}

button {
    border: none;
    background-color: rgb(200, 200, 200);

    width: 150px;
    height: 30px;

    border-radius: 5px;
    margin: 5px;

    transition: background-color 200ms ease-in-out;

    align-self: center;
}

button:hover {
    background-color: green;
}

button[type=button] {
    height: 30px;
    width: 30px;
    margin: 0;
    border-radius: 0 5px 5px 0;
}

.inputs__one {
    display: grid;
    grid-template-columns: 50px 1fr 30px;
    align-items: center;
}

.result {
    font-size: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 0 0 0 40px;
}

.result li {

}
